<nav class="navbar">
  <div class="logo">BANCO</div>

  <button class="menu-btn" (click)="toggleSidebar()">☰</button>
</nav>

<div class="main-container">
  <aside class="sidebar" [class.open]="sidebarOpen">
    <a
      routerLink="{{constant.CLIENTES
      }}"
      routerLinkActive="active"
      (click)="closeSidebar()"
      >Clientes</a
    >
    <a
      routerLink="{{constant.CUENTAS}}"
      routerLinkActive="active"
      (click)="closeSidebar()"
      >Cuentas</a
    >
    <a
      routerLink="{{constant.MOVIMIENTOS}}"
      routerLinkActive="active"
      (click)="closeSidebar()"
      >Movimientos</a
    >
    <a
      routerLink="{{constant.REPORTE_MOVIMIENTOS}}"
      routerLinkActive="active"
      (click)="closeSidebar()"
      >Reporte</a
    >
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
